/* General Styling */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

#section-1-bg,
#about {
    background: linear-gradient(to right, rgba(0,0,0,0.95), rgba(0,0,0,0.5)), url("./Project-Files/Home-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-section-1-heading, 
.advantages h1, 
.membership h1, 
.team h1, 
.team span {
    font-family: 'Courier New', Courier, monospace;
}

.navbar nav ul li a:hover {
    color: #FF0000;
    border-bottom: 2px solid #FF0000;
    border-radius: 5px;
}

.lvl-up h1 {
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #fff;
}

