
#home {
    background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.85)), url("./Project-Files/Home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#about {
    background: linear-gradient(to left, rgba(0,0,0,0.9), rgba(0,0,0,0.8)), url("./Project-Files/About-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-section-1-heading, 
.advantages h1, 
.membership h1, 
.team h1, 
.team span {
    font-family: 'Courier New', Courier, monospace;
}

.lvl-up h1 {
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #fff;
}

.trainer-1 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("./Project-Files/Basile.jpg");
}
.trainer-2 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("./Project-Files/Sam.jpg");
}
.trainer-3 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("./Project-Files/Manu.png");
}
.trainer-4 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("./Project-Files/Jimmy.jpg");
}
.trainer-5 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("./Project-Files/Manzi-Johnson.jpg");
}
.trainer-6 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("./Project-Files/Ryva.jpg");
}
.trainer-1, 
.trainer-2, 
.trainer-3,
.trainer-4,
.trainer-5,
.trainer-6 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    font-family: 'Courier New', Courier, monospace;
}